.App {
  text-align: center;
}

nav {
  display: inline-flex;
}

nav ul {
  display: inline-flex;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  margin-right: 30px;
  color: black;
}
